<div class="overflow-x-auto">
  <table class="min-w-full divide-y divide-gray-200">
    <thead class="bg-gray-50">
      <tr>
        <th class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Insumo</th>
        <th class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">U/M</th>
        <th class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Norma</th>
      </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
      @for (item of struct(); track $index) {
      <tr>
        <td class="px-4 py-4 text-sm font-medium text-gray-900">{{item.recurso?.Descripcion}}</td>
        <td class="px-4 py-4 text-sm font-medium text-gray-900">{{item.recurso?.um}}</td>
        <td class="px-4 py-4 text-sm text-gray-500">{{ item.norma}}</td>
      </tr>
      }
    </tbody>
  </table>
</div>